
<%= form_for(@food, html: {class: 'form-horizontal'}) do |f| %>
   <% if @food.errors.any? %>
  <div id="error_explanation">
<h2><%= pluralize(@food.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @food.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
    </ul>
  </div>
<% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-1 control-label' %>
    <div class="col-sm-6">
    <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class = "field form-group">
  <%= f.label :category_id, class: 'col-sm-1 dropdown-label'%>
    <div class = "col-sm-6">
  <%= f.collection_select :category_id, @category, :id, :title %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :calories, class: 'col-sm-1 control-label' %>
    <div class="col-sm-6">
      <%= f.number_field :calories, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :macro_group, class: 'col-sm-1 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :macro_group, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :date, class: 'col-sm-1 control-label' %>
    <div class="col-sm-6">
      <%= f.date_field :date, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class=" col-sm-4 btn">
      <%= f.submit class: "btn btn-info" %>
    </div>
  </div>
<% end %>
